.title {
    line-height: 0.5;
    text-align: center;
    color: #35465d;
}
.subtitle{
    line-height: 0.4;
    text-align: center;
    color: #35465d;
}
.center_position
{
    margin: 0 auto;
}
.base_image
{
    margin:auto;
    display:block;
    height : 18rem;
    width : 18rem;
}
.bottom_text
{
    text-align: center;
    line-height: 0.5;
}
.client_img
{
    float: left;
    margin-left: 15%;
    text-align: center;
}
.faculty_img
{
    float:left;
    margin-left:15%;
    text-align:center;
    font-size:1.4rem;
}
h1{
    font-size: 4.5rem;
}
h3{
    line-height:0.2;
}
h4{
    font-size: 2rem;
}
h5{
    font-size:1.4rem;
}
h6{
    font-size:2rem;
    line-height:0;
}
body{
    font-family: 'Nanum Pen Script', cursive;
}

.filebox label {
    text-align: center;
    display: inline-block;
    padding: .5em .75em;
    color: #f00231;
    font-size: 2rem;
    line-height: normal;
    background-color: #eeeeee;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
  }
  .filebox input[type="file"] {  
    position: relative;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  .submitbox
  {
    margin-top: 0.4rem;
    display: inline-block;
    text-align: center;
  }