<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <title>닮은 교수님 찾기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
    </style>
</head>
<body>
    <h1 class="title">닮은 교수님 찾기</h1>
    <h4 class="subtitle">얼굴로 보는 인공지능 교수님테스트</h4>
    <div class="center_position">
        {% if client_img %}
            <span class="client_img">
                <img src={{client_img}} style="width:400px; height:500px;">
                <a href="/"><h6>메인화면으로 돌아가기</h6></a>
            </span>
        {% else %}
            <img src='./static/face-id.png' class="base_image">
            <h5 class="bottom_text">제출 버튼을 누르면 교수님 사진이 업로드 됩니다!</h5>
            <h4 class="bottom_text">어떤 교수님과 닮았을까요?</h4>
        {% endif %}
        {% if faculty %}
        <span class="faculty_img">
            <img src={{faculty}} style="width:400px; height:500px;">
            <h3>소속: {{department}}</h3>
            <h3>성함: {{name}}</h3>
            <h3>유사도 : {{similarity}}%</h3>
        </span>
    </div>    
    {% endif %}
    <div>
        <form action="{{url_for('main.create')}}" method="post" enctype="multipart/form-data">
            {% if not client_img %}
            <div class="filebox" style="display: flex; justify-content: center;">
                <label for="ex_file">얼굴 사진 선택(png,jpeg,jpg파일만허용)</label>
                <input type="file" name="file" id="ex_file" accept=".png, .jpeg, .jpg" >
            </div>
            <div class="submitbox" style="display: flex; justify-content: center;">
                <input type="submit">  
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>